<!DOCTYPE html>
<html ng-app="calendarfiddle">
	
	<head>
		<title>Calendar Model</title>
		<script type="text/javascript" src="scripts/angular.js"></script>
		<script type="text/javascript" src="scripts/builder.js"></script>
		<script type="text/javascript" src="scripts/calendar.js"></script>
		<script type="text/javascript" src="scripts/actions.js"></script>
		<script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>

		<link rel="stylesheet" href="styles/calendar.css">
		
		<style type="text/css">
			body {
				overflow: hidden;
				min-width: 800px;
			}
		</style>
	</head>
	<body data-ng-controller="mastercontroller">
		<div>
			<table>
				<tr>
					<td><button data-ng-click="prev()">Previous</button></td>
					<td>Month {{monthText}}</td>
					<td><button data-ng-click="next()">Next</button></td>
				</tr>
			</table>
		</div>
	    <div>
			<div class="calendar-holder"></div>
		</div>
	</body>
</html>